@font-face {
  font-family: "iconfont"; /* Project id 2559410 */
  src: url('../font/font_iconfont.woff2') format('woff2')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hanhan-01-01:before {
  content: "\e6b0";
}

.icon-suiji1:before {
  content: "\e88d";
}

.icon-zhuxiao1:before {
  content: "\e6ac";
}

.icon-xingbie-nan:before {
  content: "\e629";
}

.icon-xingbie-nv:before {
  content: "\e62a";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-UniSetBackgroundTextStyle:before {
  content: "\e600";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-close:before {
  content: "\e668";
}

.icon-download:before {
  content: "\e66c";
}

.icon-good:before {
  content: "\e674";
}

.icon-link:before {
  content: "\e676";
}

.icon-help:before {
  content: "\e677";
}

.icon-notification:before {
  content: "\e679";
}

.icon-mic:before {
  content: "\e678";
}

.icon-more:before {
  content: "\e67a";
}

.icon-upload:before {
  content: "\e682";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-down-bold:before {
  content: "\e687";
}

.icon-arrow-right-bold:before {
  content: "\e688";
}

.icon-bofang:before {
  content: "\e66e";
}

.icon-yinle:before {
  content: "\e70d";
}

.icon-cha:before {
  content: "\e605";
}

.icon-yifu:before {
  content: "\e666";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-xihuan:before {
  content: "\e63a";
}

.icon-suiji:before {
  content: "\e71f";
}

.icon-sixin:before {
  content: "\e628";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-zhuanfa:before {
  content: "\e635";
}

.icon-ziyuan:before {
  content: "\e610";
}

.icon-shipin:before {
  content: "\e639";
}

.icon-bofangliebiao:before {
  content: "\e6a7";
}

.icon-fanhuidingbu:before {
  content: "\e613";
}

.icon-xunhuan:before {
  content: "\e61f";
}

.icon-jiantou:before {
  content: "\e7ef";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-yinliang:before {
  content: "\e673";
}

.icon-pinglun:before {
  content: "\e790";
}

.icon-zantingtingzhi:before {
  content: "\e65a";
}

